{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
    <h2>Sobre este site</h2>
    <p>Bem-vindo ao nosso site dedicado a informações sobre investimentos em renda fixa e renda variável na B3.</p>
    
    <p>Nosso objetivo é fornecer aos investidores uma plataforma colaborativa abrangente que ofereça insights valiosos, análises de mercado e notícias relevantes sobre o cenário financeiro brasileiro.</p>

    <p>Seja você um investidor iniciante procurando orientação ou um profissional experiente em busca de análises aprofundadas, nosso site é o seu destino para informações confiáveis e atualizadas.</p>

    <p>Explore nossos artigos, análises de especialistas e atualizações regulares para ficar por dentro das últimas tendências, estratégias de investimento e notícias do mercado financeiro.</p>
{% endblock content %}
