{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
    <h2>Sobre este site</h2>
    <p>Bem-vindo ao nosso site dedicado a informações sobre investimentos em renda fixa, renda variável na B3 e muito mais.</p>
    
    <p>Nosso objetivo é fornecer aos investidores um blog que ofereça dicas e insights sobre o cenário financeiro brasileiro e do mundo.</p>

    <p>Seja você um investidor iniciante procurando orientação ou um profissional experiente em busca de análises aprofundadas, nosso site é o seu destino para informações confiáveis e atualizadas.</p>

    <p>Explore nossos artigos, categorias e listas de usuários para ficar por dentro das últimas tendências desse mercado tão complexo.</p>
{% endblock content %}
